<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/sunscreens">All Sunscreens</a>
    <a href="/sunscreens/new">New Sunscreen</a>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> your Sunscreen tracker!</p>
  </body>
</html>

