<%- include('../partials/header') %>

<h2>Enter a New Sunscreen</h2>
<form action="/sunscreens" method="POST">
  <label
    >Brand:
    <input type="text" name="brand" /> </label
  ><br />
  <label
  >SPF:
  <input type="text" name="SPF" /> </label
><br />
  <label
    >Price:
    <input type="text" name="price" /> </label
  ><br />
  <label
    >Notes:
    <input type="text" name="notes" /> </label
  ><br />
  <label
    >Like:
    <input type="checkbox" name="like" checked /> </label
  ><br />
  <input type="submit" value="New Sunscreen" />
</form>

<%- include('../partials/footer') %>
